.CommentButton {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  height: 30px;
  width: 10%;
  text-align: center;
}

.Form {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-style: bold;
  font-family: Georgia, serif;
  background: #afbde8;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  width: 98%;
  height: auto;
  padding: 0;
}

.Input {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  width: 97%;
  height: 60px;
}

.Label {
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 4px;
  /* width: 15%; */
}

@media only screen and (max-width: 768px) {
  [class*="Form"] {
    width: 95%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  [class*="CommentButton"] {
    overflow: auto;
  }
}
