.Button {
  font-size: 16px;
  font-style: bold;
  font-family: Georgia, serif;
  background: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  margin-right: 10px;
  margin-left: 10px;
  width: 120px;
  height: 45px;
  overflow: auto;
  float: right;
  margin-top: 10px;
}

.Nav {
  background: #b9bbbe;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  transition: top 0.3s;
}

@media only screen and (max-width: 768px) {
  [class*="Button"] {
    width: 95%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  [class*="Nav"] {
    position: relative;
  }
}

.Logo {
  height: 10vmin;
  border: none;
}

.Ptag {
  font-size: 16px;
  font-style: bold;
  font-family: Georgia, serif;
  display: inline;
}
