.Home {
  text-align: center;
  display: grid;
  grid-template-rows: 10em 1fr;
  grid-template-columns: 30em 1fr;
  grid-template-areas:
    "nav"
    "topics articles";
}

.Nav {
  background-color: #282c34;
}
