.BodyLink {
  text-decoration: none;
  color: black;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.DeleteButton {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: Georgia, serif;
  height: 20px;
  width: 30%;
}

/* .Link {
  color: #1e2124;
  margin-left: 10px;
  padding: 0;
} */

.List {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

.ListItem {
  border-style: solid;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background: #afbde8;
  font-family: Georgia, serif;
}

.MainDivContainer {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.Text {
  margin-left: 10px;
  color: #1e2124;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.TitleText {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  color: #1e2124;
  margin-bottom: 5px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  [class*="List"] {
    width: 98%;
  }
}
