.BodyLink {
  text-decoration: none;
  color: black;
}

.Link {
  color: #1e2124;
}

.List {
  list-style-type: none;
  margin-left: 15px;
  padding: 0;
}

.ListItem {
  border-style: solid;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background: #afbde8;
  font-family: Georgia, serif;
}

.MainDivContainer {
  margin-left: 0px;
  margin-top: 10px;
}

.Text {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  [class*="List"] {
    width: 98%;
  }
}
