.Nav {
  background-color: #282c34;
}

.App {
  display: grid;
  grid-template-rows: 6em 17em;
  grid-template-areas:
    "header"
    "articles";
}

.spinner {
  height: 10em;
  width: 10em;
  margin: 25% auto;
  border-radius: 50%;
  border: 1em solid lightgrey;
  border-top: 1em solid grey;
  animation: spin 2s ease infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
